<!-- Java-Script -->
<script type="text/javascript" src='@routes.Assets.at("packages/jquery/js/jquery.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("packages/bootstrap/js/bootstrap.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("packages/ember/js/handlebars-1.0.0.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("packages/ember/js/ember-1.0.0.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/app.js")'></script>