<!-- Java-Script -->
<script type="text/javascript" src='@routes.Assets.at("packages/jquery/js/jquery.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("packages/bootstrap/js/bootstrap.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("packages/mustache/js/mustache.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/event.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/content.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/controller.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/main.js")'></script>